<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="dirpath" value="C:\\Users\\dalehu\\Documents\\Stocks\\"/>
        <add key="dirpathmac" value="/Volumes/LaCie/StockData/"/>
        <add key="tickers" value="ABBV,AMCR,AMD,BGS,BTI,CVX,ENB,GILT,ICE,NAT,O,OMF,PBCT,PFE,PSXP,RIO,STAG,T,TM,UPS,VEDL,VZ,XOM"/>
        <add key="ABBV" value="1740000000"/>
        <add key="AMCR" value="1550000000"/>
        <add key="AMD" value="1200000000"/>
        <add key="BGS" value="63110000"/>
        <add key="BTI" value="2030000000"/>
        <add key="CVX" value="1880000000"/>
        <add key="ENB" value="2020000000"/>
        <add key="GILT" value="37110000"/>
        <add key="ICE" value="557870000"/>
        <add key="NAT" value="146740000"/>
        <add key="O" value="372600000"/>
        <add key="OMF" value="74750000"/>
        <add key="PBCT" value="421610000"/>
        <add key="PFE" value="5570000000"/>
        <add key="PSXP" value="58380000"/>
        <add key="RIO" value="1420000000"/>
        <add key="STAG" value="158120000"/>
        <add key="T" value="7130000000"/>
        <add key="TM" value="1060000000"/>
        <add key="UPS" value="719120000"/>
        <add key ="VEDL" value="265820000"/>
        <add key="VZ" value="3990000000"/>
        <add key="XOM" value="4220000000"/>
    </appSettings>
</configuration>